# Exploratory Data Analysis

## Import packages

In [1]:
# Data manipulation
import numpy as np
import pandas as pd
import datetime as dt

# Data visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Shows plots in jupyter notebook
%matplotlib inline

# Set plot style
sns.set(color_codes=True)

# Ignore warning
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
print('NumPy', np.__version__)
print('Pandas', pd.__version__)
print('Matplotlib', mpl.__version__)
print('Seaborn', sns.__version__)

NumPy 1.23.5
Pandas 2.0.1
Matplotlib 3.7.1
Seaborn 0.12.2

---
## Loading data

In [4]:
# Open the dataset
meteorology = pd.read_excel('https://github.com/sabirinID/Nafas-Air-Quality-Analysis/raw/main/Dataset/meteo%20data%20hourly.xlsx')
air_quality_sensors_NO2_O3 = pd.read_excel('https://github.com/sabirinID/Nafas-Air-Quality-Analysis/raw/main/Dataset/no2%20o3%20sensors%2010%20mins.xlsx')
air_quality_sensors_SO2_CO = pd.read_excel('https://github.com/sabirinID/Nafas-Air-Quality-Analysis/raw/main/Dataset/so2%20co%20sensor%2010%20mins.xlsx')
bandung = pd.read_excel('https://github.com/sabirinID/Nafas-Air-Quality-Analysis/raw/main/Dataset/bandung%2010%20mins.xlsx')
jabodetabek_cities = pd.read_excel('https://github.com/sabirinID/Nafas-Air-Quality-Analysis/raw/main/Dataset/jabodetabek%20city%2010%20mins.xlsx')
jabodetabek_stations = pd.read_excel('https://github.com/sabirinID/Nafas-Air-Quality-Analysis/raw/main/Dataset/jabodetabek%2020%20stations%2010%20mins.xlsx')
office_senopati = pd.read_excel('https://github.com/sabirinID/Nafas-Air-Quality-Analysis/raw/main/Dataset/office%20in%20senopati%20.xlsx')

### Meteorological data

In [5]:
meteorology.head()

,Unnamed: 0,SENSOR,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,Ancol,NaN,NaN,NaN,NaN,NaN,Bekasi Selatan,NaN,NaN,NaN,NaN,NaN,Cibubur,NaN,NaN,NaN,NaN,NaN,Cinere,NaN,NaN,NaN,NaN,NaN,Gelora,NaN,NaN,NaN,NaN,NaN
1,Hour of DATETIME,Clouds,FEELS LIKE,RAIN,WIND DIRECTION,WIND GUST,WIND SPEED,Clouds,FEELS LIKE,RAIN,WIND DIRECTION,WIND GUST,WIND SPEED,Clouds,FEELS LIKE,RAIN,WIND DIRECTION,WIND GUST,WIND SPEED,Clouds,FEELS LIKE,RAIN,WIND DIRECTION,WIND GUST,WIND SPEED,Clouds,FEELS LIKE,RAIN,WIND DIRECTION,WIND GUST,WIND SPEED
2,"July 1, 2023, 12 AM",58,20,0,143,1.51,1.07,10,30.92,0,164,1.32,1.11,18,30.6,0,185,1.28,1.15,32,30.75,0,193,1.31,1.13,20,31.35,0,0,NaN,1.03
3,"July 1, 2023, 1 AM",66,18.21,0,5,1.3,0.78,6,29.74,0,190,1.68,1.19,8,29.74,0,201,1.46,1.23,8,29.91,0,206,1.47,1.28,20,30.61,0,180,NaN,1.54
4,"July 1, 2023, 2 AM",61,18.55,0,21,1.08,0.53,8,28.77,0,206,1.87,1.2,8,26.37,0,209,1.71,1.37,7,26.44,0,215,1.84,1.54,20,29.32,0,180,NaN,2.06

In [6]:
meteorology_link = 'https://github.com/sabirinID/Nafas-Air-Quality-Analysis/raw/main/Dataset/meteo%20data%20hourly.xlsx'

sheet_columns = {
    'ancol'         : 'A:G',
    'bekasi_selatan': 'A,H:M',
    'cibubur'       : 'A,N:S',
    'cinere'        : 'A,T:Y',
    'gelora'        : 'A,Z:AE'
}

dfs = {}
for sheet, cols in sheet_columns.items():
    dfs[sheet] = pd.read_excel(meteorology_link, header=2, usecols=cols)

for sheet, df in dfs.items():
    df.columns = df.columns.str.capitalize()                       # Change the header names to Capitalized Case
    df.rename(columns={'Hour of datetime': 'Hours'}, inplace=True) # Rename the 'Hour of datetime' column
    df['Hours'] = pd.to_datetime(df['Hours'])                      # Ensure 'Hours' column is datetime type

# Access the DataFrames using their respective sheet names
ancol = dfs['ancol']
bekasi_selatan = dfs['bekasi_selatan']
cibubur = dfs['cibubur']
cinere = dfs['cinere']
gelora = dfs['gelora']

In [7]:
ancol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hours           744 non-null    datetime64[ns]
 1   Clouds          744 non-null    int64
 2   Feels like      744 non-null    float64
 3   Rain            744 non-null    float64
 4   Wind direction  744 non-null    int64
 5   Wind gust       744 non-null    float64
 6   Wind speed      744 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 40.8 KB

In [8]:
ancol.head()

,Hours,Clouds,Feels like,Rain,Wind direction,Wind gust,Wind speed
0,2023-07-01 00:00:00,58,20.00,0.0,143,1.51,1.07
1,2023-07-01 01:00:00,66,18.21,0.0,5,1.30,0.78
2,2023-07-01 02:00:00,61,18.55,0.0,21,1.08,0.53
3,2023-07-01 03:00:00,65,19.08,0.0,41,1.17,0.46
4,2023-07-01 04:00:00,70,19.32,0.0,67,1.19,0.45

In [9]:
bekasi_selatan.head()

,Hours,Clouds.1,Feels like.1,Rain.1,Wind direction.1,Wind gust.1,Wind speed.1
0,2023-07-01 00:00:00,10,30.92,0.0,164,1.32,1.11
1,2023-07-01 01:00:00,6,29.74,0.0,190,1.68,1.19
2,2023-07-01 02:00:00,8,28.77,0.0,206,1.87,1.20
3,2023-07-01 03:00:00,31,26.13,0.0,207,1.48,1.03
4,2023-07-01 04:00:00,40,26.27,0.0,0,NaN,0.00

In [10]:
cibubur.head()

,Hours,Clouds.2,Feels like.2,Rain.2,Wind direction.2,Wind gust.2,Wind speed.2
0,2023-07-01 00:00:00,18,30.60,0.0,185,1.28,1.15
1,2023-07-01 01:00:00,8,29.74,0.0,201,1.46,1.23
2,2023-07-01 02:00:00,8,26.37,0.0,209,1.71,1.37
3,2023-07-01 03:00:00,20,26.61,0.0,205,1.63,1.30
4,2023-07-01 04:00:00,40,26.14,0.0,0,NaN,0.00

In [11]:
cinere.head()

,Hours,Clouds.3,Feels like.3,Rain.3,Wind direction.3,Wind gust.3,Wind speed.3
0,2023-07-01 00:00:00,32,30.75,0.0,193,1.31,1.13
1,2023-07-01 01:00:00,8,29.91,0.0,206,1.47,1.28
2,2023-07-01 02:00:00,7,26.44,0.0,215,1.84,1.54
3,2023-07-01 03:00:00,9,26.69,0.0,212,1.94,1.55
4,2023-07-01 04:00:00,40,26.08,0.0,0,NaN,0.00

In [12]:
gelora.head()

,Hours,Clouds.4,Feels like.4,Rain.4,Wind direction.4,Wind gust.4,Wind speed.4
0,2023-07-01 00:00:00,20,31.35,0.0,0,NaN,1.03
1,2023-07-01 01:00:00,20,30.61,0.0,180,NaN,1.54
2,2023-07-01 02:00:00,20,29.32,0.0,180,NaN,2.06
3,2023-07-01 03:00:00,20,26.14,0.0,0,NaN,0.51
4,2023-07-01 04:00:00,40,26.80,0.0,0,NaN,1.54

### Outdoor Gas data

In [13]:
outdoor_gas_NO2_O3 = air_quality_sensors_NO2_O3.copy()

In [14]:
outdoor_gas_NO2_O3.head()

,Unnamed: 0,name,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Panunggangan Utara,NaN,Pondok Pucung,NaN,Serpong,NaN
1,Minute of Datetime JKT (minutes),Avg. no2 (tb_measurement_values),Avg. o3 (tb_measurement_values),Avg. no2 (tb_measurement_values),Avg. o3 (tb_measurement_values),Avg. no2 (tb_measurement_values),Avg. o3 (tb_measurement_values)
2,"July 14, 2023, 12:00 AM",NaN,NaN,NaN,NaN,44.38,12.23
3,"July 14, 2023, 12:05 AM",9.15,0,53.51,13.35,43.87,13.47
4,"July 14, 2023, 12:10 AM",NaN,NaN,NaN,NaN,43.4,14.46

In [15]:
outdoor_gas_SO2_CO = air_quality_sensors_SO2_CO.copy()

In [16]:
outdoor_gas_SO2_CO.head()

,Unnamed: 0,name,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,Ancol,NaN,Gondolayu,NaN,Kembangan Selatan,NaN,Lontar,NaN,Marunda,NaN,Menteng Teuku Umar,NaN,Pakubuwono 1,NaN,Palmerah,NaN,Sayidan,NaN,Sorowajan,NaN,Universitas Gadjah Mada,NaN
1,Minute of Datetime JKT (minutes),co (tb_measurement_values),so2 (tb_measurement_values),co (tb_measurement_values),so2 (tb_measurement_values),co (tb_measurement_values),so2 (tb_measurement_values),co (tb_measurement_values),so2 (tb_measurement_values),co (tb_measurement_values),so2 (tb_measurement_values),co (tb_measurement_values),so2 (tb_measurement_values),co (tb_measurement_values),so2 (tb_measurement_values),co (tb_measurement_values),so2 (tb_measurement_values),co (tb_measurement_values),so2 (tb_measurement_values),co (tb_measurement_values),so2 (tb_measurement_values),co (tb_measurement_values),so2 (tb_measurement_values)
2,"July 14, 2023, 12:05 AM",NaN,NaN,463.55,11.54,432.15,8.34,462.93,11.82,500.33,16.75,452.45,9.09,451.71,11.31,426.74,12.75,473.47,9.96,484.98,7.71,426.5,7.54
3,"July 14, 2023, 12:15 AM",NaN,NaN,451.27,11.18,428.71,8.25,454.28,11.3,518.56,17.31,455.89,9.54,447.93,11.19,420.85,12.73,465.49,9.8,483.91,7.64,424.98,7.51
4,"July 14, 2023, 12:25 AM",NaN,NaN,444.4,10.98,424.11,8.01,446.9,11.07,528.68,17.6,457.01,9.83,447.83,11.19,418.8,12.75,457.52,9.66,486.51,7.7,423.92,7.52

### Outdoor PM2.5 data

In [17]:
outdoor_pm_bdg = bandung.copy()

In [18]:
outdoor_pm_bdg.head()

,Unnamed: 0,region / name,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60
0,NaN,Bandung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bandung Barat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cimahi,NaN,NaN,NaN,NaN,NaN
1,NaN,Ciroyom,NaN,NaN,NaN,NaN,NaN,Lagadar,NaN,NaN,NaN,NaN,NaN,Lebak Siliwangi,NaN,NaN,NaN,NaN,NaN,Lengkong,NaN,NaN,NaN,NaN,NaN,Manjahlega,NaN,NaN,NaN,NaN,NaN,Sukagalih,NaN,NaN,NaN,NaN,NaN,Sukamenak,NaN,NaN,NaN,NaN,NaN,Kayuambon,NaN,NaN,NaN,NaN,NaN,Kertamulya,NaN,NaN,NaN,NaN,NaN,Karangmekar,NaN,NaN,NaN,NaN,NaN
2,Minute of Datetime JKT (minutes),Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp
3,"July 14, 2023, 12:05 AM",80.58,22.01,43.39,35.4,1020.31,21.26,87.38,38.83,71.54,60.15,1019.2,21.38,81.12,21.86,43.11,35.07,1020.62,21.46,77.61,19.93,38.65,31.43,1019.91,21.72,87,19.52,35.4,29.56,1019.07,21.63,79.2,23.88,46.84,37.5,1020.23,20.72,NaN,NaN,NaN,NaN,NaN,NaN,88.75,26.86,47.94,41.9,1025.74,18.86,87.38,53.69,85.57,77.24,1018.6,21.03,80.97,23.22,45.24,36.9,1020.19,21.43
4,"July 14, 2023, 12:15 AM",80.95,22.05,43.59,35.55,1020.28,21.17,87.63,43.31,78.75,67.19,1019.17,21.26,81.58,22.01,43.53,35.39,1020.58,21.37,77.97,19.5,37.85,30.76,1019.88,21.62,87.25,19.18,34.82,29.08,1019.04,21.53,79.55,24.18,47.46,37.87,1020.2,20.62,NaN,NaN,NaN,NaN,NaN,NaN,88.75,27.17,48.88,42.44,1025.71,18.85,87.63,53.76,85.86,77.47,1018.57,20.91,81.34,23.15,45.14,36.79,1020.14,21.32

In [19]:
outdoor_pm_jc = jabodetabek_cities.copy()

In [20]:
outdoor_pm_jc.head()

,Unnamed: 0,region,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,NaN,Bekasi,NaN,NaN,NaN,NaN,NaN,NaN,Central Jakarta,NaN,NaN,NaN,NaN,NaN,NaN,Depok,NaN,NaN,NaN,NaN,NaN,NaN,East Jakarta,NaN,NaN,NaN,NaN,NaN,NaN,North Jakarta,NaN,NaN,NaN,NaN,NaN,NaN,South Jakarta,NaN,NaN,NaN,NaN,NaN,NaN,South Tangerang,NaN,NaN,NaN,NaN,NaN,NaN,Tangerang,NaN,NaN,NaN,NaN,NaN,NaN,West Jakarta,NaN,NaN,NaN,NaN,NaN,NaN
1,Minute of Datetime JKT (minutes),Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp
2,"July 1, 2023, 12:00 AM",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179,91.13,78.23,117.85,110.9,1012.4,25.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,189,92.69,89.99,138.89,130.51,1010.15,26.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"July 1, 2023, 12:05 AM",169.555556,88.156667,60.375556,107.536667,96.193333,1009.812222,26.14,157.857143,86.816667,47.432857,74.625714,69.805714,1010.058571,26.846667,161.5,89.35125,51.1375,86.91875,80.09875,1011.49875,25.76875,168,87.53,62.19,96.256,89.334,1010.324,26.186667,135.111111,81.995556,36.37,59.614444,55,1010.866667,26.582222,158.057143,85.783429,48.22,77.668857,72.409143,1010.550857,26.184571,169,90.14,62.537692,102.015385,94.724615,1010.424615,25.528333,163.25,91.39375,52.0075,87.66125,80.5775,1010.17125,25.64,164.866667,87.919333,54.904667,89.461333,83.308,1010.201333,26.654667
4,"July 1, 2023, 12:10 AM",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176,91.38,73.76,111.21,104.45,1012.33,25.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187,93.06,87.08,134.65,126.54,1010.08,26.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
outdoor_pm_js = jabodetabek_stations.copy()

In [22]:
outdoor_pm_js.head()

,Unnamed: 0,region / name,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140
0,NaN,Bekasi,NaN,NaN,NaN,NaN,NaN,NaN,Central Jakarta,NaN,NaN,NaN,NaN,NaN,NaN,Depok,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,East Jakarta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North Jakarta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Jakarta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Tangerang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tangerang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Jakarta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Bekasi Selatan,NaN,NaN,NaN,NaN,NaN,NaN,Wahid Hasyim,NaN,NaN,NaN,NaN,NaN,NaN,Limo,NaN,NaN,NaN,NaN,NaN,NaN,Tanah Baru,NaN,NaN,NaN,NaN,NaN,NaN,Cipinang Besar,NaN,NaN,NaN,NaN,NaN,NaN,Condet,NaN,NaN,NaN,NaN,NaN,NaN,Duren Sawit,NaN,NaN,NaN,NaN,NaN,NaN,Pluit,NaN,NaN,NaN,NaN,NaN,NaN,Tanjung Priok,NaN,NaN,NaN,NaN,NaN,NaN,Pondok Pinang,NaN,NaN,NaN,NaN,NaN,NaN,SCBD,NaN,NaN,NaN,NaN,NaN,NaN,Senopati,NaN,NaN,NaN,NaN,NaN,NaN,Alam Sutera,NaN,NaN,NaN,NaN,NaN,NaN,Bintaro,NaN,NaN,NaN,NaN,NaN,NaN,Legoso,NaN,NaN,NaN,NaN,NaN,NaN,Lengkong Wetan,NaN,NaN,NaN,NaN,NaN,NaN,Cikokol,NaN,NaN,NaN,NaN,NaN,NaN,Sampora,NaN,NaN,NaN,NaN,NaN,NaN,Duri Utara,NaN,NaN,NaN,NaN,NaN,NaN,Joglo,NaN,NaN,NaN,NaN,NaN,NaN
2,Minute of Datetime JKT (minutes),Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp,Avg. AQI,Avg. humidity (tb_measurement_values),Avg. pm1 (tb_measurement_values),Avg. pm10 (tb_measurement_values),"Avg. PM2,5",Avg. pressure (tb_measurement_values),Avg. Temp
3,"July 14, 2023, 12:05 AM",156,85.75,45.72,75.12,66.13,1010.86,26.05,141,79.44,34.38,59.12,52.14,1011.96,26.13,119,86.5,27.07,51.39,43.14,1011.63,26.11,154,84.78,38.88,68.39,62.88,1013.44,25.11,146,84.25,38.73,59.84,53.93,1012,26.42,137,85,36.79,62.72,50.25,1010.76,25.91,146,84.25,37.34,58.94,53.75,1012.15,25.89,134,85,32.12,56.27,49.04,1009.84,26.54,152,74.22,34.62,63.72,57.88,1012.49,25.95,108,86.44,26.24,47.61,38.61,1012.42,25.9,153,79.65,36.24,64.42,60.28,1012.66,25.82,108,85.75,26.17,46.8,38.5,1011.24,26.21,84,86.69,18.61,35.45,27.76,1011.57,26.07,105,87.23,23.4,45.95,37.49,1012.52,27.16,118,82.58,27.51,52.51,42.54,1011.17,25.37,100,89.19,23.83,44.29,35.44,1011.38,25.52,88,89.38,19.4,37.53,30.11,1011.18,25.6,91,90,20.86,39.75,31.53,1011.81,24.79,136,85.75,32.9,57.61,50.05,1012.46,26.31,96,85.88,22.71,41.71,33.47,1011.52,26.16
4,"July 14, 2023, 12:15 AM",157,85.75,46.97,77.55,68.13,1010.84,25.96,138,78.67,33.48,58.03,50.76,1011.93,26.03,119,87.25,27,51.19,42.93,1011.61,25.96,153,84.8,36.87,64.79,59.6,1013.41,25.1,151,84.25,39.68,60.97,55.49,1011.96,26.42,127,85.5,33.73,58.97,46.13,1010.73,25.81,146,84.25,37.42,59.14,54.06,1012.11,25.88,144,85.5,34.67,59.83,53.02,1009.81,26.51,151,74.56,33.39,61.67,55.96,1012.44,25.87,107,87.13,25.97,47.26,38.11,1012.39,25.77,152,80.06,34.89,62.53,58.06,1012.64,25.72,105,86.08,25.24,45.49,37.19,1011.22,26.1,82,86.56,18.29,34.44,27.13,1011.55,26.06,106,87.5,23.6,46.3,37.76,1012.51,27.08,117,83.85,27.31,52.25,42.06,1011.14,25.21,98,89.31,23.44,43.38,34.86,1011.36,25.43,86,89.63,18.83,36.33,29.23,1011.17,25.53,89,90.25,20.21,38.19,30.41,1011.8,24.72,137,86,33.17,57.8,50.4,1012.42,26.26,96,86.13,22.83,42.03,33.69,1011.5,26.08

### Indoor PM2.5 data

In [23]:
indoor_pm = office_senopati.copy()

In [24]:
indoor_pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11099 entries, 0 to 11098
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Minute of DateTimeJKT minutes  11099 non-null  object
 1   Aqi                            11099 non-null  int64
 2   Co2                            11099 non-null  int64
 3   Humidity                       11099 non-null  float64
 4   Pm1                            11099 non-null  int64
 5   Pm10                           11099 non-null  int64
 6   Pm25                           11099 non-null  int64
 7   Temperature                    11099 non-null  float64
dtypes: float64(2), int64(5), object(1)
memory usage: 693.8+ KB

In [25]:
indoor_pm.head()

,Minute of DateTimeJKT minutes,Aqi,Co2,Humidity,Pm1,Pm10,Pm25,Temperature
0,14/7/2023 00.00,118,466,50.00,27,52,42,26.24
1,14/7/2023 00.01,117,466,50.04,27,51,42,26.24
2,14/7/2023 00.02,116,465,50.06,27,50,41,26.24
3,14/7/2023 00.03,112,463,50.08,27,48,40,26.24
4,14/7/2023 00.04,118,460,50.09,28,51,42,26.24

In [28]:
indoor_pm.rename(columns={'Minute of DateTimeJKT minutes': 'Minutes',
                          'Aqi'  : 'AQI', # Air quality index
                          'Co2'  : 'CO2', # Carbon dioxide
                          'Pm1'  : 'PM1', # Particulate matter 1 microns
                          'Pm10' : 'PM10',
                          'Pm25' : 'PM2.5'}, inplace=True)
indoor_pm['Minutes'] = pd.to_datetime(indoor_pm['Minutes'], format='%d/%m/%Y %H.%M')

# Verify the changes
indoor_pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11099 entries, 0 to 11098
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Minutes      11099 non-null  datetime64[ns]
 1   AQI          11099 non-null  int64
 2   CO2          11099 non-null  int64
 3   Humidity     11099 non-null  float64
 4   PM1          11099 non-null  int64
 5   PM10         11099 non-null  int64
 6   PM2.5        11099 non-null  int64
 7   Temperature  11099 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(5)
memory usage: 693.8 KB

In [29]:
indoor_pm.head()

              Minutes  AQI  CO2  Humidity  PM1  PM10  PM2.5  Temperature
0 2023-07-14 00:00:00  118  466     50.00   27    52     42        26.24
1 2023-07-14 00:01:00  117  466     50.04   27    51     42        26.24
2 2023-07-14 00:02:00  116  465     50.06   27    50     41        26.24
3 2023-07-14 00:03:00  112  463     50.08   27    48     40        26.24
4 2023-07-14 00:04:00  118  460     50.09   28    51     42        26.24